.hero{
	width: 800px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero>img{
	width: 500px;
	height: 250px;
	object-fit: cover;
	overflow: hidden;
	flex: 3;
}

.text{
	padding: 10px;
	flex:2;
	text-align: center;
}

button{
	background-color: #fe0000;
	border: 2px solid #fe0000;
	border-radius: 3px;
	padding: 8px;
	color: white;
}
